@import "../variable";
.app-header {
  height: @app-header-height;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  background-color: #fff;
  position: fixed;
  top:0;
  left:0;
  z-index: 99;
  width: 100%;
}